<div style='text-align: center'>    
  <% if @name && @name != '' %><h1>My name is <%= @name %></h1><% end %>
  <div style='border: 3px dashed red; content:url(http://bit.ly/1eze8aE); margin: auto'>
  </div>
</div>
