<h1 style=' text-align: center'>My name is <%= @name %></h1>
<div style='border: 3px dashed red; content:url(http://bit.ly/1eze8aE); margin: auto'>
  <!-- <img src='http://bit.ly/1eze8aE'> -->
</div>
